@tailwind base;
@tailwind components;
@tailwind utilities;

 
@layer base {
    :root {
      /* Name: custom color palette
         Author: Ilias Ism
         URL: https://gradient.page */
  
      /* CSS: .bg-gradient { background: var(--gradient) } */
      --gradient: #825734;
  
      --background: 29 27.95% 2.88%;
      --foreground: 29 4.3% 96.8%;
  
      --muted: 29 21.5% 10.799999999999999%;
      --muted-foreground: 29 4.3% 53.6%;
  
      --popover: 29 56.4% 4.68%;
      --popover-foreground: 29 4.3% 96.8%;
  
      --card: 29 56.4% 4.68%;
      --card-foreground: 29 4.3% 96.8%;
  
      --border: 29 21.5% 10.799999999999999%;
      --input: 29 21.5% 10.799999999999999%;
  
      --primary: 29 43% 36%;
      --primary-foreground: 29 4.3% 96.8%;
  
      --secondary: 29 21.5% 10.799999999999999%;
      --secondary-foreground: 29 4.3% 96.8%;
  
      --accent: 29 21.5% 10.799999999999999%;
      --accent-foreground: 29 4.3% 96.8%;
  
      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 29 4.3% 96.8%;
  
      --ring: 29 43% 36%;
    }
  }
  

  @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }